@model IEnumerable<Hospital_Management.Models.Patient>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Aadhar_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Middle_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Last_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Relative)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Relative_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age_Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age_Month)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Blood_Group)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marital_Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Registration_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Admin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.District.District1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place1.Place1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Aadhar_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.First_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Middle_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Last_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Relative)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Relative_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age_Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age_Month)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Blood_Group)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marital_Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Picture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Registration_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Admin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.District.District1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Place1.Place1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CR_Number }) |
            @Html.ActionLink("Details", "Details", new { id=item.CR_Number }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CR_Number })
        </td>
    </tr>
}

</table>
